// Zde piš své styly

.header {
  background: lightblue;
}

.footer {
  background: lightgreen;
}

.main {
  display: flex;
}

.sidebar {
  background: lightpink;
  width: 200px;
  flex-shrink: 0;
}

.content {
  background: lightseagreen;
  flex-grow: 1;
}